@charset "UTF-8";

body {
    font-family: 'Noto Serif Japamese', serif;
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

:root {
    --bg-color: #fa7da3;
    --bg-campaign-color: #fca4bf;
    --bg-y-color: #fffedd;
    --bg-p-color: #fdf0f5;
    --bg-g-color: #49c43d;
    --color-tokune: #fffd7a;
    --bg-b-color: #50bfff;

    --font-size-small: 12px;
    --font-size-medium: 18px;
    --font-size-large: 21px;
}

.flex {
    display: flex;
}

.ouofit {
    font-family: "Outfit", serif;
}


/* main */
.header {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo img {
    width: 74px;
    height: auto;
    max-width: 100%;
    margin-left: 12px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 10px;
}

/* ボタンの基本スタイル */
.button {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
    /* ホバー時のエフェクトをスムーズに */
}

.button-inquiry {
    background-color: var(--bg-color);
    border: 2px solid #fa7da3;
}

.button-reservation {
    background-color: var(--bg-g-color);
    border: 2px solid #49c43d;
}

/* アイコンのスタイル */
.button i {
    margin-left: 8px;
}



.cover {
    position: relative;
    color: #fff;
}

.cover-title {
    position: absolute;
    top: 0;
    left: 5px;
}

.cover-title .large {
    font-size: 42px;
}

.cover-title .medium {
    font-size: var(--font-size-medium);
}


.tokuten {
    position: absolute;
    top: 0;
    right: 0;
}

.tokuten_point {
    background-color: #fca4bf;
    align-items: center;
    justify-content: center;
}

.kikan {
    color: var(--bg-campaign-color);
    background-color: #fff;
    font-size: var(--font-size-small);

}

.syogetu {
    font-size: 24px;
    font-weight: 700;
}

.tokune {
    color: var(--color-tokune);
    font-size: 76px;
}

.tokune span {
    font-size: 36px;
}

.cover-Price_plan {
    margin-top: 10px;
    margin-right: 20px;
    text-align: end;
}

.tokuten li {
    border: 2px solid #fff;
}

.tokuten-item {
    font-size: var(--font-size-medium);
    margin-right: 20px;
    margin-top: 20px;
}

.tokuten-item li {
    margin-bottom: 10px;
    text-align: center;
}

.tokuten-item li:last-child {
    margin-bottom: 0;
}



/* 今だけ案内 */

.limited-plan {
    background-color: var(--bg-y-color);
    color: var(--bg-color);
    text-align: center;
    padding: 20px;
}

.imadake {
    font-size: var(--font-size-large);
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.imadake::before,
.imadake::after {
    top: 0.8rem;
    height: 1.8rem;
    content: '';
}

.imadake::before {
    border-left: solid 2px;
    left: 0;
    transform: rotate(-30deg);
}

.imadake::after {
    border-right: solid 2px;
    right: 0;
    transform: rotate(30deg);
}

.imadake-item {
    width: 350px;
    margin: auto;
    border: 2px solid #fa7da3;
    border-radius: 12px;
}

.imadake-course {
    font-size: var(--font-size-large);
    color: #fff;
    background-color: var(--bg-color);
    border-radius: 8px 8px 0 0;
}

.imadake-presents {
    color: var(--bg-color);
    background-color: #fff;
    font-size: 27px;
    border-radius: 0 0 8px 8px;
}

.three-times {
    font-size: 42px;
    font-weight: 500;
}

.imadake-content {
    color: #333;
    font-size: 10px;
    margin-top: 8px;
}

.recommended {
    width: 350px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 28px;
}

.recommended p {
    color: var(--bg-color);
    font-size: var(--font-size-large);
    text-align: center;
    margin-bottom: 12px;
}

.muryo-button .button-reservation {
    width: 310px;
    margin: auto;
    font-size: var(--font-size-large);
    word-wrap: break-word;
    padding-left: 45px;
    padding-right: 45px;
}



.each-course {
    width: 350px;
    margin: auto;
    text-align: center;
    font-size: 17px;
    color: var(--bg-b-color);
    border-top: 2px solid #50bfff;
    border-bottom: 2px solid #50bfff;
    margin-bottom: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.trial-course {
    margin-bottom: 40px;
    margin-left: 30px;
}

.trial-course li {
    padding-top: 8px;
    font-size: 14px;
}

.trial-course span {
    font-size: 11px;
}



.content-course {
    background-color: var(--bg-p-color);
    padding-top: 35px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}


.content-course_title {
    width: 300px;
    margin: auto;
}

.content-title {
    margin-bottom: 30px;
}


.content-course_title img {
    padding: 6px;
}

.content-course_title {
    margin-bottom: 20px;
}

.content-course_choose {
    color: #4d2b1b;
    font-size: 18px;
    font-weight: 700;
}

.content_three-point {
    width: 300px;
    margin: auto;
    justify-content: space-around;
}

.content-course h2 {
    font-size: 32px;
    color: var(--bg-color);
    text-align: center;
}

.boxed-section {
    border: 2px solid #fa7da3;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #fff;
}

.boxed-section h3 {
    text-align: center;
    color: #fff;
    font-size: var(--font-size-medium);
    background-color: var(--bg-color);
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.comment {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 12px;
}

.unlimited_kuraberu {
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
}

.kuraberu {
    width: 100%;
    max-width: 143px;
}


.kuraberu-kirameki {
    border: 2px solid #fa7da3;

}

.kuraberu-A {
    color: #433e3f;
    font-size: var(--font-size-medium);
    border: 2px solid #433e3f;
}

.kuraberu-A p {
    text-align: center;
}











.content-feedback {
    background-color: var(--bg-p-color);
}